OfficeXML/Chapter 02/Namespaces/FullQuotation.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.prosetech.com/Schemas/QuotationList"
elementFormDefault="qualified" >
    <xsd:element name="quotation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="text" type="xsd:string"/>
                <xsd:element name="source" type="xsd:string"/>
                <xsd:element name="category" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
