OfficeXML/Chapter 02/Quotation_Attributes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="quotation">
      <xsd:sequence>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element name="source" type="xsd:string"/>
         <xsd:element name="category" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>         
   </xsd:complexType>

   <xsd:element name="quotation" type="quotation"/>
</xsd:schema>
